button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 20px;
}

.button-red {
    background-color: #FAA;
}

.button-green {
    background-color: rgb(145, 217, 145);
}

.button-blue {
    background-color: rgb(145, 217, 217);
}

.container {
    position: relative;
}

img {
    width: 1080px;
    height: 600px;
}
Canvas {
    position: absolute;
    top:0;
    left: 12%;
    width:100%;
    height:100%;
}