button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 20px;
}

.button-red {
    background-color: #FAA;
}

.button-green {
    background-color: rgb(145, 217, 145);
}

.button-blue {
    background-color: rgb(145, 217, 217);
}

img {
    position: relative;
    width: 1090px;
    height: 600px;
}
Canvas {
    position: absolute;
    bottom: 30px;
    right: 190px;
    width: 1090px;
    height: 650px;
}